@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

:root {
  --primary-color: #c4929e;
  --secondary-color: #f2e0de;
  --hover-color: #b07884;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

button:hover {
  background-color: var(--hover-color);
  transition: background-color 0.3s ease;
}

.box-hover:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}

#about-us,
#section1,
#contacts,
#section2 {
  padding-top: 80px;
}

@media (max-width: 600px) {
  .hamburger {
    display: block !important;
  }
  .desktop-menu {
    display: none !important;
  }
}

/* Hide hamburger menu on large screens and show others */
@media (min-width: 601px) {
  .hamburger {
    display: none !important;
  }
  .desktop-menu {
    display: flex !important;
  }
}

/* #pricing .box-font {
  font-family: "Anton", sans-serif;
  font-size: 1.2em;
} */
